{% extends 'terms/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в DigitalLaw!</h1>
    <p class="lead">Этот проект создан для удобного поиска и изучения юридических терминов.</p>
    <hr class="my-4">
    <p>Используйте наш поиск, чтобы найти нужные термины и их определения.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'search' %}" role="button">Начать поиск</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h3>Быстрый доступ</h3>
        <p>Найдите нужный термин за несколько секунд с помощью нашего удобного поиска.</p>
    </div>
    <div class="col-md-4">
        <h3>Актуальная информация</h3>
        <p>Все термины регулярно обновляются и проверяются нашими экспертами.</p>
    </div>
    <div class="col-md-4">
        <h3>Для всех</h3>
        <p>Простота и доступность информации для юристов и обычных пользователей.</p>
    </div>
</div>
{% endblock %}