{% extends 'terms/base.html' %}

{% block title %}Пайданылған әдебиеттер тізімі{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Пайданылған әдебиеттер тізімі</h1>
    
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Қолданылған әдебиет тізімі:</h3>
            <ul class="list-group list-group-flush">
                {% for reference in references %}
                <li class="list-group-item">{{ reference }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Басты бетке қайту</a>
</div>
{% endblock %}